/include/ "system-conf.dtsi"
/ {
};

// https://stackoverflow.com/questions/53634892/linux-spidev-why-it-shouldnt-be-directly-in-devicetree
// Easiest method is to use "rohm,dh2228fv"
&sband_spi {
    spidev@0 {
        compatible = "rohm,dh2228fv";
        spi-max-frequency = <100000>;
        reg = <0>;
    };
};