/include/ "system-conf.dtsi"

/ {
};

// https://stackoverflow.com/questions/53634892/linux-spidev-why-it-shouldnt-be-directly-in-devicetree
// Easiest method is to use "rohm,dh2228fv"
&spi0 {
    spidev@0 {
        symlink = "sband_spi";
        compatible = "rohm,dh2228fv";
        spi-max-frequency = <100000>;
        reg = <0>;
    };
};

&axi_iic_SBAND {
    symlink = "sband_i2c";
};

&axi_uartlite_dfgm {
    symlink = "dfgm_uart";
};

&axi_uartlite_gps {
    symlink = "gps_uart";
};

&uart0 {
    symlink = "uhf_uart";
};

&uart1 {
    symlink = "heracles_uart";
};

&i2c1 {
    symlink = "db_i2c";
    usb2512b@2c {
        compatible = "microchip,usb2512b";
        reg = <0x2c>;
        reset-gpios = <&gpio0 72 1>;
        string-support;
		manufacturer = "AlbertaSat";
		product = "Daedalus Hub";
		serial = "DEADBEEF";
        swap-dx-lanes = <1 2>;
    };
};