*/*/config.old
*/*/rootfs_config.old
.Xil
build/
images/linux/
pre-built/linux/
.petalinux/*
!.petalinux/metadata
*.o
*.jou
*.log
/components/plnx_workspace
/components/yocto
petalinux*.run
.DS_Store
.vscode-ctags
