[Unit]
Description=[ExAlta3] Prepare SD logs
DefaultDependencies=no
After=mnt-storage-logs.mount
Requires=mnt-storage-logs.mount
Before=var-log.mount systemd-tmpfiles-setup.service

# If Logs isn't mounted, skip without failing the boot:
ConditionPathIsMountPoint=/mnt/storage/logs

[Service]
Type=oneshot

# Target path for all system logs
ExecStart=/bin/mkdir -p /mnt/storage/logs/system

# Prepare persistent journal root
ExecStart=/bin/mkdir -p /mnt/storage/logs/system/journal
ExecStart=/bin/chown root:systemd-journal /mnt/storage/logs/system/journal
ExecStart=/bin/chmod 2755 /mnt/storage/logs/system/journal

[Install]
WantedBy=local-fs.target
